/* Enable Bootstrap scrollspy */
body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* Background img for hero */
.main {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(339deg, rgba(70, 62, 62, 0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.content {
    width:70%;
    height:100%;
}


/* Navbar */
#navbarNav {
    font-size: large;
}

/* Section titles */

/* Hero */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
#jumbotron-title, 
.about > .card-title,
#projects-title
{
    *font-family: 'Fjalla One', sans-serif;
}

#jumbotron-title {
    color:white;
    font-weight: 400;;
    
}

.jumbotron {
    margin:0;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #343a40
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5em;
    margin-top: 1em;
}

.icons > i {
    margin:10px;
    color:white;
}


/*Skills */
.skills {
    padding:3%;
}

.skills-container {
    display: flex;
}

.col > .skills {
    border-style:solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

.info {
    margin-left:10px;
    border-style:solid;
}

/* Projects */
.projects > .container > .card-title {
    margin:1em;
}

.img-square-wrapper {
    height:250px;
    width:500px;
}

.code-buttons {
    display: flex;
    margin-top: -10%;
    margin-left:60%;
}

.code-buttons > .btn {
    margin-right:10px;
}

/* Card height matches img size */
.screenshot {
    width:500px;
    height:250px;
}

/* Override bootstrap default card display, show cards with image left and card content right */
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

/* About */
.about {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    height:100vh;
    background-image: url("mountain.png");
    color:white;
} 

.about > .card-title {
    margin:1em;
}

.about > .container {
    background-color: white;
    width:50%;
    padding:20px;
    border-radius:10px;
    color:black;
    margin-top:2em;
}

.img-col {
    display: flex;
    justify-content: center;
}

.picture-img {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width:15em;
    object-fit: contain;
}

.profile-icons {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
}

#icon-contact {
    margin:10px;
    padding:10px;
    border-radius:50%;
    background-color:gray;
}

/* Contact */
.contact {
    display: flex;
    justify-content: center;
    color: white;
    background: darkgrey;
}

.form-container {
    margin:2%;
    padding:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    background: #343a40;
}

/* Footer */
.footer {
    background: #343a40;
    color:white;
}

/* Remove link styling for icons*/
  a, a:focus, a:active {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color:#191970;
}


/* Button styling */
.btn-dark {
    border-radius: 0;
    background-color:transparent;
    border-color:white;
    border-width: 2px;
}