/* Default theme colors - Dark */
:root {
    --bg-color: #121212;
    --font-color: #FFF;
    --highlight-color: #FF7597;
}

[data-theme="light"] {
    --bg-color: #FFF;
    --font-color: #000;
    --highlight-color: #0F4C81;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* Dark mode switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--highlight-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Enable Bootstrap scrollspy */
body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}

.highlight {
    color:var(--highlight-color);
}

/* Navbar */
.navbar {
    background-color:var(--bg-color);
}

#navbarNav {
    font-size: large;
}

/* Fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    font-family: 'Fjalla One', sans-serif;  
}

/* Hero */
#jumbotron-title {
    margin-top: 2em;
    font-size: 2em;
    font-weight: 400;
}

.jumbotron {
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color:var(--font-color);
}


/*About me */
.aboutme {
    margin-top: 1em;
    width:100%;
    display: flex;
    justify-content: center;
}

#aboutme-title {
    margin-top:1em;
}

.aboutme-container {
    margin-top:1em;
    display: flex;
    flex-direction: column;
}

#about-description {
    margin-right:10%;
}

#herocontainer {
    display: flex;
    justify-content:center;
}

#herobuttons {
    margin-top:1em;
}

#hero-contact-btn {
    margin-left: 5px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5em;
    margin-top: 1em;
}

.icons > i {
    margin:10px;
    color:var(--font-color);;
}

/*Skills */
.skills {
    color:var(--font-color);;
}

.skills-container {
    display: flex;
    justify-content: flex-start;
}

/* Projects */
#projects-title {
    margin-top: 1em;
}

/* Remove outline from Bootstrap cards */
.card {
    background-color: transparent;
    color:var(--font-color);;
    border-style: none;
}

.card-title {
    margin-top:20px;
}

.skill-icons {
    margin-top:-20px;
    margin-bottom: 10px;
}

/* Contact */
.contact {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

/* Contact form background */
.contactform {
    width:90%;
    margin:2%;
    padding:2%;
    padding-top:2%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    background-color: #404040;
}

/* Contact form inputs */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
}

.form-control::placeholder {
    color:#FFFFFF;
}

.form-inputs {
    margin-top:5%;
}

.form-control,
.form-control:focus {
    background: transparent;
    border: none;
    border-bottom: 3px solid #FFFFFF;
    font-size: 18px;
    margin-bottom: 16px;
}

#contact-title {
    color:#FFF;
}

#sendmessage {
    margin-top:5%;
    margin-bottom: 5%;
    font-size: large;
}

/* Contact form input color */
input[type=text],input[type=text]:focus,
textarea[name=message], textarea[name=message]:focus {
    color:#FFFFFF;
}

/* Footer */
.footer {
    background: #343a40;
    color:white;
}

/* Remove link styling for icons*/
  #github-icon, #github-icon:focus, #github-icon:active {
    text-decoration: none;
    color:#FFF;
}

#github-icon:hover {
    text-decoration: none;
    color: var(--highlight-color);
}

/* Button styling */
.btn-dark {
    background-color:transparent;
    border-color:white;
    border-width: 2px;
}

/* Container for title + buttons */
.titlecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Code + demo buttons */
.buttoncontainer {
    display: flex;
    align-items: center;
}

.projectbutton {
    margin-left:5px;
}


/* Project img scaling */
#project {
    width:100%;
    height:auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .aboutme {
        margin-top: 1em;
        width:75%;
    } 

    .contactform {
        margin-top: 1em;
        width: 70%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content {
        width:70%;
    }
    
    .aboutme {
        width:50%;
    } 
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    content {
        width:70%;
    }

    .aboutme {
        width:40%;
    }

    .contactform {
        width: 60%;
    }
 }