{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
<div class="dashboard-container">
    <div class="pagetitle-header-explore">
        <h2>Explore</h2>
    </div>

    {% if projects %}
    <!--Display posts-->
    <div class="explore-container">
        {% for project in projects %}
            <div class="explore-container-content">
                <div class="explore-container-post">
                    <div class="post-username"><b>Made by:&nbsp;</b>{{project["username"] }}</div>
                    <h3 class="post-title"><a href="/explore_index/{{project["project_id"]}}">{{project["project_name"]}}</a></h3>

                    {% if project["project_description"] %}
                    <div class="post-description">{{project["project_description"]}}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>











{% endblock %}
