{% extends "layout.html" %}

{% block title %}
    {{project_rows[0]["project_name"]}}
{% endblock %}

{% block main %}
<!--Project name-->
<div class="pagetitle-header">
    <a><button class="edit-project-name-button"><h2 class="explore-title">{{project_rows[0]["project_name"]}}</h2></button></a>
</div>

<!-- Show project description-->
<div class="pagetitle-description">
    {% if project_rows[0]["project_description"] %}
    <a><button class="edit-description-button-explore"><h2 class="description">{{project_rows[0]["project_description"]}}</h2></button></a>

    {% endif %}
</div>

<!--Tables-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                {% for list in saved_lists %}

                <div class="card-body text-center box-title">
                    <h5 class="card-title m-b-0">{{list["list_name"]}}</h5>
                </div>

                <div class="table-responsive">
                    <table class="table">

                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th scope="col">Item name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Weight</th>
                            </tr>
                        </thead>

                        {% for item in items %}

                            {% if list["list_id"] == item["list_id"] %}


                        <tbody class="customtable">
                            <form method="POST" action="/del_item/{{project_rows[0]["project_id"]}}">
                                    <tr>
                                        <th></th>
                                        <td>{{item["item_name"]}}</td>
                                        <td>{{item["description"]}}</td>
                                        <td>{{item["quantity"]}}</td>
                                        <td>{{item["weight"]}} g</td>
                                    </tr>
                              {% endif %}

                        {% endfor %}

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    {% set list_id = list["list_id"] %}

                                        <td>Total</td>
                                        <td>

                                        {% if not list_total[list_id] %}

                                        0 g

                                        {% elif list_total[list_id] >= 1000: %}

                                            {{list_total[list_id] / 1000 }} kg

                                        {% else %}

                                        {{list_total[list_id]}} g

                                        {% endif %}


                                        </td>
                                    </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
                    {% endfor %}


                    {% if saved_lists %}

                    <h4 class="total_weight">
                        Total weight for all items:

                        {% if total_weight == 0 %}

                        0 g

                        {% elif total_weight >= 1000  %}

                        {{total_weight / 1000}} kg

                        {% else %}

                        {{total_weight}} g

                        {% endif %}

                        </h4>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% if session.user_id == project_rows[0]["user_id"] %}

<div class="share">
    <form action="/del_project_explore/{{project_rows[0]["project_id"]}}" method="post">
        <button id="submit" class="btn btn-primary" type="submit">Delete project</button>
    </form>
</div>

{% endif %}

{% endblock %}
