{% extends "layout.html" %}

{% block title %}
    Adventure Planner
{% endblock %}

{% block main %}
<!--Banner-->
<section>
    <div class="block-banner">
        <div class="flex-container">
            <div class="banner-title"><h1>Keep track of your adventures</h1></div>
            <form action="/dashboard" method="get">
                <button id="submit" class="btn btn-primary btn-lg" type="submit">Get started</button>
            </form>
        </div>

    </div>
</section>

<style>
    body {
    background-color:white;
    background-image: none;
}
</style>

{% endblock %}