<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ADVENTURE PLANNER {% block title %}{% endblock %} </title>

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="https://use.typekit.net/dra3rks.css">

    </head>

    <body>

    <!--Navbar-->
    <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo"><a class="logolink" href="/">Adventure Planner</a>
               </div>
               <div class="menu">
                  <ul>
                     <li><a class="navlink"  href="/">Home</a></li>

                     {% if session.user_id %}

                            <li><a class="navlink" href="/dashboard">Dashboard</a></li>
                            <li><a class="navlink" href="/explore">Explore</a></li>
                            <li><a class="navlink" href="/logout">Log Out</a></li>

                            {% else %}

                            <li><a class="navlink" href="/login">Login</a></li>
                            <li><a class="navlink" href="/explore">Explore</a></li>

                            {% endif %}
                  </ul>
               </div>
            </nav>
         </header>
    </body>

         <main>

            {% block main %}

            {% endblock %}
        </main>
    <script>
        $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect
      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
      })
    </script>
</html>
