{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}


<div class="flex-container">
    <div class="login">
    <form action="/login" method="post">
        {% if get_flashed_messages() %}
            <div class="alert alert-light text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>

        {% endif %}

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
        <hr>
            <p>First time here? <a href="/register">Register an account</a> <br>
            or <a href="/explore">take a look at the Explore page</a></p>
    </form>
    </div>
</div>

<style>
    body
{
    background-color: #fff;
    background-image: url("/static/images/jotunheimen.jpg");;
    background-size: cover;
}

@media (max-width: 1200px) {
    body {
        height:100vh;
    }
}
</style>
{% endblock %}
