{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="flex-container">
    <div class="register">
        <form action="/register" method="post">

            {% if get_flashed_messages() %}
                <div class="alert alert-light text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}

            <div class="form-group">
                <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input id="password" class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input id="password2" class="form-control" name="password2" placeholder="Password(again)" type="password">
            </div>
            <button id="submit" class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>

    <script>
        // Disable submit button by default
        document.querySelector('#submit').disabled = true;

        // Disable submit button by if any fields are left blank
        // Username
        document.querySelector('#username').onkeyup = function () {
            if (document.querySelector('#username').value !== '' && document.querySelector('#password').value !== '' ) {
                document.querySelector('#submit').disabled = false;
            } else {
                document.querySelector('#submit').disabled = true;
            }
        }

        // Password
        document.querySelector('#password').onkeyup = function () {
            if (document.querySelector('#username').value !== '' && document.querySelector('#password').value !== '' ) {
                document.querySelector('#submit').disabled = false;
            } else {
                document.querySelector('#submit').disabled = true;
            }
        }

        // Second password field
        document.querySelector('#password2').onkeyup = function () {
            if (document.querySelector('#username').value !== '' && document.querySelector('#password').value !== '' && document.querySelector('#password2').value !== '' ) {
                document.querySelector('#submit').disabled = false;
            } else {
                document.querySelector('#submit').disabled = true;
            }
        }
    </script>

<style>
    body
{
    background-color: #fff;
    background-image: url("/static/images/jotunheimen.jpg");;
    background-size: cover;
}

@media (max-width: 1200px) {
    body {
        height:100vh;
    }
}
</style>
{% endblock %}